[Unit]
Description=A fully featured auth gateway for web applications.

[Service]
Type=simple
Group={{ authgateway_group }}
User={{ authgateway_user }}
ExecStart={{ authgateway_node_exec }} node_modules/.bin/auth-gateway run
ExecReload=/bin/kill -HUP $MAINPID
WorkingDirectory={{ authgateway_install_path }}

[Install]
WantedBy=multi-user.target
