[Unit]
Description=A fully featured auth gateway for web applications.

[Service]
Type=simple
ExecStart={{ authgateway_npm_exec }} run auth-gateway run
ExecReload=/bin/kill -HUP $MAINPID
WorkingDirectory={{ authgateway_install_path }}

[Install]
WantedBy=multi-user.target
